.board-container{
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    overflow: auto;
    gap: 2rem;
}
.board-column{
    max-width: 350px;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .board-container{
        grid-template-columns: repeat(1, 1fr);
    }
  }